@font-face {
    font-family: 'NanumSquare-L';
    src: url("../font/NanumSquareOTFLight.woff") format("woff");
  }
  
  @font-face {
    font-family: 'NanumSquare';
    src: url("../font/NanumSquareOTFRegular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'NanumSquare-B';
    src: url("../font/NanumSquareOTFBold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'NanumSquare-EB';
    src: url("../font/NanumSquareOTFExtraBold.woff") format("woff");
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  table,
  th,
  td,
  form,
  fieldset,
  legend,
  input,
  textarea,
  button,
  select {
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: none;
  }
  
  body,
  input,
  textarea,
  select,
  button {
    font-family: "NanumSquare", sans-serif;
    font-size: 14px;
  }
  
  fieldset,
  img {
    border: 0;
  }
  
  img {
    vertical-align: top;
  }
  
  li,
  ol,
  ul {
    list-style: none;
  }
  
  address,
  em,
  i {
    font-style: normal;
  }
  
  a {
    text-decoration: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  th,
  b,
  em {
    font-weight: normal;
  }
  
  .blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  
  .fl {
    float: left;
  }
  
  .fr {
    float: right;
  }
  
  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .chinese {
    font-family: 'NanumBarunGothic', '나눔바른고딕', 'Dotum', '돋움', 'Helvetica', 'Arial', 'AppleSDGothicNeo', sans-serif;
  }
  
  .text_line {
    display: block;
    margin: 0;
    word-break: keep-all;
  }
  
  button {
    border: 0;
    background: none;
    -webkit-appearance: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  input {
    border: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
  }
  
  caption {
    text-indent: -9999px;
    font-size: 0;
  }
  
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  input:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  textarea::-moz-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  textarea:-moz-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  textarea:-ms-input-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  body,
  html {
    height: 100%;
    font-style: normal;
    line-height: 1.4;
    -webkit-text-size-adjust: none;
  }
  
  #wrap {
    position: relative;
    min-width: 1120px;
    min-height: 100%;
  }
  
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    min-width: 1100px;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-transition: top .4s ease-in-out;
    transition: top .4s ease-in-out;
  }
  
  header:hover {
    background-color: white;
  }
  
  .header_up {
    top: -180px;
  }
  
  .header_wrap {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .header_wrap:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .header_wrap .header_logo {
    float: left;
    width: 87px;
    height: 17px;
    margin: 32px 0 0 30px;
    /* background: url(../src/header_logo.png); */
    -webkit-background-size: 87px 17px;
    background-size: 87px 17px;
  }
  
  .header_wrap .header_logo a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  nav {
    display: inline-block;
  }
  
  .gnb_menu {
    font-size: 0;
    text-align: center;
  }
  
  .gnb_menu .gnb_menu_list, .gnb_menu .gnb_menu_list_recruit {
    display: inline-block;
  }
  
  .gnb_menu .gnb_menu_list .gnb_menu_item:before, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:before {
    content: '';
    position: absolute;
    left: -1px;
    bottom: 20px;
    width: calc(100% + 2px);
    height: 2px;
    background-color: #1ec545;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .gnb_menu .gnb_menu_list:hover .gnb_menu_item:before, .gnb_menu .gnb_menu_list .gnb_menu_item:focus:before, .gnb_menu .gnb_menu_list_recruit:hover .gnb_menu_item:before, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .gnb_menu .gnb_menu_list.on .gnb_menu_item:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .gnb_menu .gnb_menu_list_recruit:hover .gnb_menu_item.recruit:after, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 31px;
    width: 18px;
    height: 18px;
    /* background: url(../src/sprite.png) no-repeat; */
    -webkit-background-size: 474px 1500px;
    background-size: 474px 1500px;
    background-position: -59px 0;
  }
  
  .gnb_menu .gnb_menu_item {
    display: block;
    position: relative;
    margin: 0 32px;
    padding: 29px 0 30px;
    font-family: "NanumSquare-EB", sans-serif;
    font-size: 15px;
    color: #333;
  }
  
  .gnb_menu .gnb_menu_item.recruit {
    padding-right: 25px;
  }
  
  .gnb_menu .gnb_dropMenu_wrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 999;
    min-width: 1100px;
    height: 341px;
    background-color: #1ec545;
    font-size: 0;
    text-align: center;
  }
  
  .gnb_menu .gnb_dropMenu_wrap > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 341px;
    padding: 28px 0 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .gnb_menu .gnb_dropMenu_wrap > li:before, .gnb_menu .gnb_dropMenu_wrap > li:last-child:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #4bd16a;
  }
  
  .gnb_menu .gnb_dropMenu_wrap > li:last-child:after {
    left: auto;
    right: 0;
  }
  
  .gnb_menu .gnb_dropMenu_wrap > li:hover {
    background-color: #0fb93c;
  }
  
  .gnb_menu .gnb_dropMenu_wrap > li:hover:before, .gnb_menu .gnb_dropMenu_wrap > li:hover + li:before, .gnb_menu .gnb_dropMenu_wrap > li:last-child:hover:after {
    display: none;
  }
  
  .gnb_menu .gnb_dropMenu > li {
    margin: 0 0 7px;
    font-size: 14px;
    text-align: left;
  }
  
  .gnb_menu .gnb_dropMenu > li.depth_blank {
    margin-bottom: 14px;
  }
  
  .gnb_menu .gnb_dropMenu > li + .classify {
    margin-top: 20px;
  }
  
  .gnb_menu .gnb_dropMenu > li:last-child {
    margin-bottom: 0;
  }
  
  .gnb_menu .gnb_dropMenu .classify {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #4bd16a;
    font-size: 15px;
  }
  
  .gnb_menu .gnb_dropMenu .classify:first-child {
    padding-top: 0;
    border-top: 0;
  }
  
  .gnb_menu .gnb_dropMenu .classify.depth_4 {
    font-size: 14px;
  }
  
  .gnb_menu .gnb_dropMenu .classify.depth_4 .gnb_dropMenu_item strong span {
    font-family: "NanumSquare", sans-serif;
  }
  
  .gnb_menu .gnb_dropMenu .depth_4 .gnb_dropMenu_item .depth {
    font-size: 12px;
  }
  
  .gnb_menu .gnb_dropMenu .depth_4 .gnb_dropMenu_item strong span {
    font-family: "NanumSquare-L", sans-serif;
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item {
    display: block;
    padding: 0 0 0 28px;
    color: #fff;
    line-height: 1.2;
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item.btn_link:hover {
    text-decoration: none;
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item.btn_link:after {
    right: 74px;
    top: 17px;
    background-position: -81px 0;
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item .depth {
    position: relative;
    display: inline-block;
    font-family: "NanumSquare-L", sans-serif;
    font-size: 14px;
    opacity: .8;
    filter: alpha(opacity=80);
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item span:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:hover span:before, .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:focus span:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item strong span {
    position: relative;
    font-family: "NanumSquare-B", sans-serif;
  }
  
  .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:hover .depth, .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:focus .depth {
    font-family: "NanumSquare", sans-serif;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .header_util {
    float: right;
    width: 144px;
    margin: 29px 25px 0 0;
    font-size: 0;
  }
  
  .header_util:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .header_util .header_lang {
    display: inline-block;
    vertical-align: middle;
    margin: 0 41px 0 0;
    font-size: 12px;
  }
  
  .header_util .header_lang a {
    position: relative;
    color: #333;
  }
  
  .header_util .header_lang a[aria-selected="false"] {
    opacity: 0.6;
  }
  
  .header_util .header_lang a:first-child {
    margin: 0 21px 0 0;
  }
  
  .header_util .header_lang a:first-child:after {
    content: '';
    display: block;
    position: absolute;
    right: -12px;
    top: 2px;
    width: 1px;
    height: 9px;
    background-color: #333;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  
  .header_util .sitemap_box {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 23px;
  }
  
  .header_util .btn_sitemap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .header_util .btn_sitemap .btn_line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #333;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .header_util .btn_sitemap .btn_line:nth-child(2) {
    top: 4px;
  }
  
  .header_util .btn_sitemap .btn_line:nth-child(3) {
    top: 10px;
  }
  
  .header_util .btn_sitemap .btn_line:nth-child(4) {
    bottom: 5px;
  }
  
  .header_util .btn_sitemap:hover .btn_line {
    background-color: #00c73c;
  }
  
  .sitemap, .sitemap_dimmed {
    display: none;
  }
  
  header.active {
    height: 80px;
    background-color: #0fb93c;
  }
  
  header.active .header_logo {
    /* background: url(../src/header_logo_v2.png); */
  }
  
  header.active .gnb_menu {
    display: none;
  }
  
  header.active .header_lang a {
    color: #fff;
  }
  
  header.active .header_lang a:first-child:after {
    background-color: #fff;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  
  header.active .btn_sitemap .btn_line {
    background-color: #fff;
  }
  
  header.active .btn_sitemap .btn_line:nth-child(2) {
    top: -10px;
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  
  header.active .btn_sitemap .btn_line:nth-child(3) {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  header.active .btn_sitemap .btn_line:nth-child(4) {
    bottom: -9px;
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  
  header.active .btn_sitemap:hover .btn_line {
    background-color: #fff;
  }
  
  header.active .sitemap {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 200;
    min-width: 1100px;
    background-color: #0fb93c;
  }
  
  header.active + .sitemap_dimmed {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(58, 62, 80, 0.97);
  }
  
  .sitemap_container {
    width: 1280px;
    margin: 0 auto;
    padding: 35px 35px 70px;
  }
  
  .sitemap_container:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .sitemap_list {
    float: left;
    width: 160px;
    margin: 0 0 0 50px;
    color: #fff;
  }
  
  .sitemap_list:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .sitemap_list:first-child {
    margin: 0;
  }
  
  .sitemap_list .menu_title {
    display: block;
    padding-bottom: 31px;
    font-family: "NanumSquare-EB", sans-serif;
    font-size: 20px;
    position: relative;
  }
  
  .sitemap_list .menu_title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 10px;
    height: 2px;
    background-color: #fff;
  }
  
  .sitemap_list .menu_container {
    padding: 30px 0 0;
  }
  
  .sitemap_list .menu_container:first-of-type {
    padding-top: 25px;
  }
  
  .sitemap_list .menu_container.depth_4 {
    padding-top: 6px;
  }
  
  .sitemap_list .menu_container.depth_4 .menu_list {
    margin-top: 4px;
  }
  
  .sitemap_list .menu_container.depth_4 .menu_list.depth_title {
    margin-top: 0;
    padding-bottom: 5px;
  }
  
  .sitemap_list .menu_container.depth_4 .menu_list strong span {
    font-size: 14px;
    font-family: "NanumSquare", sans-serif;
  }
  
  .sitemap_list .menu_container.depth_4 .menu_list .depth {
    font-size: 12px;
  }
  
  .sitemap_list .menu_container.depth_4 + .depth_4 {
    padding-top: 20px;
  }
  
  .sitemap_list .menu_list {
    margin: 7px 0 0;
    font-family: "NanumSquare", sans-serif;
    line-height: 1.2;
  }
  
  .sitemap_list .menu_list.depth_title {
    padding-bottom: 9px;
  }
  
  .sitemap_list .menu_list:first-child {
    margin: 0;
  }
  
  .sitemap_list .menu_list a {
    color: #fff;
  }
  
  .sitemap_list .menu_list strong span {
    display: inline-block;
    position: relative;
    font-family: "NanumSquare-B", sans-serif;
    font-size: 15px;
  }
  
  .sitemap_list .menu_list .depth {
    display: inline-block;
    position: relative;
    font-family: "NanumSquare-L", sans-serif;
    font-size: 14px;
    opacity: .8;
    filter: alpha(opacity=80);
  }
  
  .sitemap_list .menu_list a span:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .sitemap_list .menu_list a:hover span:before, .sitemap_list .menu_list a:focus span:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .sitemap_list .menu_list a:hover .depth, .sitemap_list .menu_list a:focus .depth {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .sitemap_list .menu_list .btn_link:after {
    top: -1px;
    background-position: -81px 0;
  }