.container {
  padding: 80px 0 160px;
}

.location {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0 36px 30px;
}

.location:after {
  content: '';
  display: block;
  clear: both;
}

.location li {
  float: left;
  position: relative;
  margin-top: -2px;
  padding: 0 25px 0 0;
}

.location li:after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 5px;
  height: 7px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -103px 0;
}

.location li:last-child {
  padding: 0;
}

.location li:last-child:after {
  display: none;
}

.location li:last-child .location_list {
  color: #212121;
}

.location li:last-child .location_list:hover {
  text-decoration: none;
}

.location .location_list {
  font-size: 12px;
  color: #878890;
}

.location .location_list:hover {
  text-decoration: underline;
}

.content_head {
  text-align: center;
}

.content_head .page_title {
  padding: 0 0 30px;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 42px;
  color: #212121;
  letter-spacing: -2.5px;
}

.content_head .page_info {
  padding: 0 0 25px;
  font-size: 20px;
  color: #333;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.content_head .page_info.state {
  position: relative;
  padding-bottom: 0;
  font-size: 0;
}

.content_head .page_info.state .icon_state {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 92px;
  height: 92px;
  margin: 0 30px 0 0;
  border: 1px solid #00c73c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.content_head .page_info.state .icon_state:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  height: 46px;
  margin: -23px 0 0 -23px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -78px -317px;
}

.content_head .page_info.state .state_info {
  display: inline-block;
  vertical-align: middle;
}

.content_head .page_info.state .state_info_list {
  margin: 4px 0 0 3px;
  text-align: left;
  line-height: 1.4;
}

.content_head .page_info.state .state_info_list:first-child {
  margin-top: 0;
}

.content_head .page_info.state strong {
  display: block;
  margin: 0 0 9px;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 26px;
  color: #00b843;
  letter-spacing: -1px;
}

.content_head .page_info.state dl {
  font-size: 0;
}

.content_head .page_info.state dt, .content_head .page_info.state dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: -.1px;
}

.content_head .page_info.state dt {
  width: 103px;
  font-family: "NanumSquare-EB", sans-serif;
}

.content_head .page_info.state dd {
  width: auto;
  font-family: "NanumSquare-B", sans-serif;
  color: #606167;
}

.spot img {
  width: 100%;
}

.spot.summary, .spot.history, .spot.affiliate, .spot.business, .spot.creators, .spot.developers, .spot.standard, .spot.cs, .spot.accessibility, .spot.report, .spot.privacy, .spot.accreditation, .spot.idc, .spot.happybean, .spot.culture, .spot.connect, .spot.development, .spot.communication, .spot.organization, .spot.disclosure, .spot.stock, .spot.finances, .spot.schedule, .spot.reference, .spot.settlement, .spot.notice, .spot.greenfactory, .spot.flower, .spot.library, .spot.sustainable, .spot.initiatives, .spot.green_connect, .spot.crisis, .spot.respect, .spot.ai_ethics {
  overflow: hidden;
  position: relative;
  padding-top: 21.545%;
}

.content_container {
  max-width: 1120px;
  margin: 74px auto 120px;
}

.content_box {
  margin: 75px 0 0;
  font-size: 0;
}

.content_box:after {
  content: '';
  display: block;
  clear: both;
}

.content_box:first-child {
  margin: 0;
}

.content_box ul:after, .content_box dl:after {
  content: '';
  display: block;
  clear: both;
}

.content_box .content_box_left {
  display: inline-block;
  vertical-align: top;
  width: 23.5%;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 28px;
  letter-spacing: -0.6px;
  padding-right: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.content_box .content_box_left > li:first-child {
  margin: 0 0 10px;
}

.content_box .content_box_left .select_box.small {
  margin-top: 16px;
}

.content_box .content_box_left .count {
  font-size: 14px;
}

.content_box .content_box_left .small_num {
  display: block;
  font-size: 12px;
  line-height: 24px;
}

.content_box .content_box_right {
  display: inline-block;
  width: 76.5%;
  font-size: 15px;
  color: #606167;
}

.content_box .content_box_right dl:after {
  content: '';
  display: block;
  clear: both;
}

.content_box .content_box_right .order_info_text {
  position: relative;
  padding: 0 0 0 28px;
  line-height: 1.8;
}

.content_box .content_box_right .order_info_text:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 2px;
  height: 10px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -122px -45px;
}

.content_box .content_box_button {
  padding: 30px 0;
  border-bottom: 1px solid #212121;
  text-align: right;
  font-size: 0;
}

.content_box .content_box_button .btn_link_large {
  margin-left: 4px;
}

.content_box .content_box_button .btn_text {
  white-space: nowrap;
}

.content_box .content_box_text {
  margin: 15px 0 0;
  line-height: 1.8;
  letter-spacing: -0.2px;
}

.content_box .content_box_text:first-child {
  margin-top: 0;
}

.content_box .content_box_text ~ .btn_link {
  line-height: 1.8;
}

.content_box .content_box_img {
  margin: 24px 0 0;
}

.content_box .agree_box {
  margin: 17px 0 0 23.5%;
}

.content_box .content_box_inner {
  padding-top: 27px;
  line-height: 26px;
  word-break: keep-all;
}

.content_outer_text {
  line-height: 1.8;
  letter-spacing: -0.2px;
  font-size: 15px;
  color: #606167;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table tr:first-child {
  border-top: 2px solid #333;
}

.table th {
  height: 56px;
  border-bottom: 1px solid #efefef;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #333;
  text-align: left;
}

.table td {
  height: 56px;
  border-bottom: 1px solid #efefef;
  font-size: 15px;
  color: #606167;
  letter-spacing: -0.1px;
}

.table .input_text {
  display: block;
  position: relative;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #dce0e6;
  font-size: 15px;
  color: #333;
  line-height: 55px;
}

.table .require {
  margin: 0 0 0 4px;
}

.table .complete_message {
  padding: 20px 0;
  word-break: keep-all;
  word-wrap: normal;
}

.table .complete_message p {
  margin: 13px 0 0;
  font-size: 15px;
  line-height: 1.8;
}

.table .complete_message p:first-child {
  margin-top: 10px;
}

.table .complete_message p:last-child {
  margin-bottom: 52px;
}

.table .complete_message.check {
  line-height: 1.6;
}

.table .text_right {
  text-align: right;
}

.table .pl16 {
  padding-left: 16px;
}

.table .pr16 {
  padding-right: 16px;
}

.table .br {
  border-right: 1px solid #e4e4e4;
}

.table .blue {
  color: #2495e4;
}

.table .red {
  color: #e84747;
}

.btn_area {
  margin: 100px 0 0;
  font-size: 0;
  text-align: center;
}

.btn_rect {
  display: inline-block;
  min-width: 160px;
  margin: 0 0 0 20px;
  padding: 24px 35px 22px;
  border: 1px solid #dce0e6;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 16px;
  color: #606167;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn_rect.color {
  border-color: #b0eabd;
  color: #00b843;
}

.btn_rect:first-child {
  margin: 0;
}

.btn_rect:hover {
  border-color: #f1f3f5;
  background-color: #f1f3f5;
}

.btn_rect.color:hover {
  border-color: #00c73c;
  background-color: #00c73c;
  color: #fff;
}

.btn_rect.v2 {
  min-width: 145px;
  padding: 15px 22px 17px;
  border: 1px solid #dce0e6;
  color: #333;
}

.btn_rect.v2.small {
  min-width: 103px;
  padding: 17px 21px 15px;
  font-size: 15px;
}

.btn_rect.v2.text_small {
  font-size: 15px;
}

.btn_rect.v2:hover {
  border-color: #333;
  background-color: #fff;
}

.summary .content_container, .service .content_container {
  margin-top: 54px;
}

.page_tab {
  padding: 0 0 27px;
  font-size: 0;
  text-align: center;
}

.page_tab li {
  display: inline-block;
  position: relative;
  padding: 0 30px 0;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 20px;
}

.page_tab li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 1px;
  height: 18px;
  background-color: #dce0e6;
}

.page_tab li:first-child:before {
  display: none;
}

.page_tab .page_tab_item {
  position: relative;
  color: #bac2cd;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.page_tab .page_tab_item:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 2px;
  background-color: #00c73c;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.page_tab .page_tab_item:hover, .page_tab .page_tab_item:focus, .page_tab .page_tab_item[aria-selected="true"] {
  color: #333;
}

.page_tab .page_tab_item:hover:after, .page_tab .page_tab_item:focus:after, .page_tab .page_tab_item[aria-selected="true"]:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.page_tab .page_tab_item[aria-selected="true"]:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 2px;
  background-color: #00c73c;
}

.page_subTab_item, .quick_menu_item {
  position: relative;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 20px;
  color: #bac2cd;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.page_subTab_item:after, .quick_menu_item:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 2px;
  background-color: #00c73c;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.page_subTab_item:hover, .page_subTab_item:focus, .page_subTab_item[aria-selected="true"], .quick_menu_item:hover, .quick_menu_item:focus, .quick_menu_item[aria-selected="true"] {
  color: #333;
}

.page_subTab_item:hover:after, .page_subTab_item:focus:after, .page_subTab_item[aria-selected="true"]:after, .quick_menu_item:hover:after, .quick_menu_item:focus:after, .quick_menu_item[aria-selected="true"]:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.page_subTab_item[aria-selected="true"]:after, .quick_menu_item[aria-selected="true"]:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 2px;
  background-color: #00c73c;
}

.affiliate .content_box_left {
  position: relative;
  padding: 0 0 42px;
}

.affiliate .content_box_right {
  margin: -4px 0 0;
}

.affiliate .content_box_text {
  display: inline;
  margin: 0 11px 0 0;
}

.affiliate .content_box_img {
  width: 100%;
  height: 320px;
  background: no-repeat 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.affiliate .content_box .content_box_left .logo {
  display: block;
  margin-top: 8px;
  height: 18px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
}

.affiliate .content_box.line .content_box_left .logo {
  margin-left: 2px;
  width: 52px;
  background-position: 0 -28px;
}

.affiliate .content_box.line .content_box_img {
  background-image: url(../src/naver/img_affiliate_line.jpg);
}

.affiliate .content_box.labs .content_box_left .logo {
  margin-left: 2px;
  width: 173px;
  height: 18px;
  background-position: 0 -1270px;
}

.affiliate .content_box.labs .content_box_img {
  background-image: url(../src/naver/img_affiliate_naver_labs.jpg);
}

.affiliate .content_box.naver_cloud .content_box_left .logo {
  width: 174px;
  height: 20px;
  background-position: 0 -1292px;
}

.affiliate .content_box.naver_cloud .content_box_img {
  background-image: url(../src/naver/img_affiliate_nbp.png);
}

.affiliate .content_box.snow .content_box_left .logo {
  width: 74px;
  background-position: 0 -68px;
}

.affiliate .content_box.snow .content_box_img {
  background-image: url(../src/naver/img_affiliate_snow.jpg);
}

.affiliate .content_box.webtoon .content_box_left .logo {
  width: 95px;
  height: 91px;
  background-position: -340px -1060px;
}

.affiliate .content_box.webtoon .content_box_img {
  background-image: url(../src/naver/img_affiliate_webtoon.jpg);
}

.affiliate .content_box.works .content_box_left .logo {
  width: 198px;
  height: 19px;
  background-position: 0 -779px;
}

.affiliate .content_box.works .content_box_img {
  background-image: url(../src/naver/img_affiliate_works.jpg);
}

.btn_link {
  display: inline-block;
  position: relative;
  padding: 0 26px 0 0;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #212121;
  word-break: keep-all;
}

.btn_link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 4.5px;
  width: 18px;
  height: 18px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -59px 0;
}

.btn_link:hover {
  text-decoration: underline;
}

.btn_link:hover:after {
  background-position: -104px -68px;
}

.proposition .content_container.check_complete {
  margin-top: 0;
}

.proposition .content_container.check_complete ul .content_box:first-child {
  margin-top: 40px;
}

.proposition .content_box {
  margin: 80px 0 0;
}

.proposition .content_box_left span {
  display: block;
  font-size: 12px;
  line-height: 27px;
}

.proposition .content_box_right {
  padding: 25px 0 0;
  border-top: 2px solid #333;
}

.proposition .guide_list_box {
  margin: 41px 0 0;
}

.proposition .table tr {
  border: 0;
}

.proposition.write td {
  padding-top: 10px;
}

.proposition.write .table tr:first-child th {
  padding-top: 16px;
}

.proposition.write .table_form .table th {
  padding-top: 26px;
}

.proposition.write .table tr:first-child td {
  padding-top: 0;
}

.service_area {
  width: 100%;
  background-color: #f5f7f8;
}

.service_container {
  position: relative;
  max-width: 1120px;
  min-width: 1120px;
  margin: 0 auto;
  text-align: left;
}

.service_container .service_title {
  padding: 27px 0;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 32px;
  letter-spacing: -.2px;
}

.btn_expanded {
  position: absolute;
  right: 0;
  top: 20px;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #f5f7f8;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn_expanded:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -4px 0 0 -10px;
  width: 20px;
  height: 10px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -121px -13px;
}

.btn_expanded.on:after {
  margin-top: -6px;
  background-position: -121px 0;
}

.btn_expanded:hover {
  background-color: #00c73c;
}

.btn_expanded:hover:after {
  background-position: -145px -13px;
}

.btn_expanded.on:hover:after {
  background-position: -145px 0;
}

.content_box_right.table_form {
  padding-top: 14px;
}

.content_box_right.table_form .table th, .content_box_right.table_form .table td {
  border-bottom: 0;
}

.content_box_right.table_form .table th {
  vertical-align: top;
  padding: 16px 0;
}

.content_box_right.table_form .table th label {
  font-size: 15px;
}

.content_box_right.table_form.border_type {
  padding-top: 0;
}

.content_box_right.table_form.border_type th, .content_box_right.table_form.border_type td {
  border-bottom: 1px solid #efefef;
}

.content_box_right.table_form.border_type td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content_box_right.table_form.border_type td.complete_message {
  text-overflow: inherit;
  overflow: inherit;
  white-space: normal;
}

.content_box_right.table_form.border_type .regist_num_title {
  font-size: 15px;
}

.content_box_right.table_form.border_type .regist_num {
  padding: 3px 0 0;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 24px;
  color: #00b843;
}

.content_box_right.table_form.border_type th:nth-child(3) {
  padding-left: 20px;
  border-left: 1px solid #efefef;
}

.select_box {
  position: relative;
}

.select_box:after {
  content: '';
  display: block;
  clear: both;
}

.select_box .btn_select[aria-expanded="true"] ~ .select_menu {
  display: block;
}

.select_box.half {
  float: left;
  width: calc(50% - 20px);
}

.select_box.half:last-child {
  float: right;
}

.select_box.small {
  width: 155px;
}

.select_box.wide {
  width: 230px;
}

.btn_select {
  position: relative;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #dce0e6;
  font-size: 15px;
  color: #333;
  text-align: left;
  line-height: 55px;
}

.btn_select:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 16px;
  height: 7px;
  margin: -5px 0 0 0;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -169px -39px;
}

.select_menu {
  display: none;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  max-height: 194px;
  border: 1px solid #00c73c;
  background-color: #fff;
}

.select_menu .select_item {
  padding: 0 20px;
  width: 100%;
  font-family: "NanumSquare", sans-serif;
  font-size: 15px;
  color: #606167;
  text-align: left;
  line-height: 48px;
}

.select_menu .select_item:hover {
  background-color: #f8f9fa;
  font-family: "NanumSquare-B", sans-serif;
  color: #00b843;
}

.table_form .table tr:first-child .select_menu {
  top: 0;
}

.text_box {
  display: block;
  width: 100%;
  height: 186px;
  padding: 16px 0 0;
  border: 0;
  border-bottom: 1px solid #dce0e6;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  outline: none;
}

.text_box + .guide_message {
  margin-bottom: 10px;
}

.file_box {
  position: relative;
  width: 100%;
  padding-right: 100px;
  font-size: 0;
}

.input_text.file {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 103px);
  padding: 0 20px 0;
  border: 0;
  background-color: #f8f9fa;
  color: #d1d1d1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.regist_file_text {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 23px;
  line-height: 54px;
  cursor: pointer;
}

.btn_file, .btn_down {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 107px;
  height: 55px;
  border: 1px solid #dce0e6;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #333;
  text-align: center;
  line-height: 52px;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.btn_file:hover, .btn_down:hover {
  border-color: #333;
}

.btn_del {
  position: absolute;
  right: 0;
  margin: 0 0 0 20px;
  padding: 0 26px 0 0;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 55px;
  word-break: keep-all;
  text-decoration: none;
}

.btn_del:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -10px 0 0;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -80px -68px;
}

.btn_del:hover {
  text-decoration: underline;
}

.api_wrap {
  display: none;
}

.api_wrap .file_box {
  font-size: 0;
}

.api_wrap .input_text.file {
  width: calc(100% - 287px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.api_wrap .btn_down {
  max-width: 175px;
  margin-right: 10px;
}

.api_wrap .btn_down button {
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #212121;
  cursor: pointer;
}

.table.type2 .file_wrap {
  display: none;
}

.table.type2 .api_wrap {
  display: table-row;
}


.tooltip_box {
  display: none;
  width: 303px;
  position: absolute;
  left: 50%;
  top: -121px;
  z-index: 1;
  margin: 0 0 0 -139px;
  padding: 17px 20px;
  border: 1px solid #dfe0e1;
  background-color: #fff;
  font-family: "NanumSquare-L", sans-serif;
  color: #333;
  letter-spacing: -0.5px;
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
}

.tooltip_box:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -7px;
  z-index: 2;
  width: 10px;
  height: 10px;
  margin: 0 0 0 -4px;
  border: 1px solid #dfe0e1;
  border-left: 0;
  border-top: 0;
  background-color: #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
}

.table td:after {
  content: '';
  display: block;
  clear: both;
}

#proposition_email {
  margin: 0 0 20px;
}

.content_box_right.guide_box {
  padding: 0 0 15px;
  border: 0;
  border-bottom: 1px solid #dce0e6;
  font-size: 14px;
  color: #878890;
  line-height: 1.6;
}

.content_box_right.guide_box.scroll {
  overflow: hidden;
  overflow-y: auto;
  height: 166px;
  padding: 0;
}

.content_box_right.guide_box strong {
  font-family: "NanumSquare-B", sans-serif;
  font-size: 18px;
  color: #333;
}

.agree_box label {
  position: relative;
  padding: 0 0 0 34px;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.agree_box label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  border: 2px solid #dce0e6;
}

.agree_box label:hover:before {
  border: 1px solid #333;
}

.agree_box input:checked + label:before {
  border: 1px solid #00c73c;
  background-color: #00c73c;
}

.agree_box input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 4px;
  width: 12px;
  height: 8px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -169px -26px;
}


.btn_link_wrap {
  margin-top: 33px;
  text-align: right;
}

.btn_link_wrap:after {
  content: '';
  display: block;
  clear: both;
}

.btn_link_wrap .btn_link {
  margin-left: 20px;
}

.btn_link_wrap .btn_link:after {
  top: 1.5px;
}



.definition_box .content_term:first-child {
  margin-top: 0;
}

.definition_box .content_box_text {
  margin-top: 12px;
}

.content_container.ethics .info_list {
  padding-left: 92px;
}

.content_container.ethics .info_list.employees:before {
  width: 71px;
  height: 70px;
  background-position: -99px -875px;
}

.content_container.ethics .info_list.partner:before {
  height: 62px;
  background-position: -174px -873px;
}

.content_container.ethics .info_list.society:before {
  width: 65px;
  height: 57px;
  background-position: -241px -875px;
}

.content_container.ethics .info_list.client:before {
  width: 63px;
  height: 55px;
  background-position: -309px -877px;
}

.content_container.ethics .info_list.stockholder:before {
  width: 56px;
  height: 60px;
  background-position: -397px -805px;
}

.content_container.ethics .info_list:last-child {
  border-bottom: 0;
}

.content_container.ethics .info_list > dl {
  padding-right: 0;
}

.content_container.ethics .content_box {
  margin-top: 64px;
}


.col_box:after {
  content: '';
  display: block;
  clear: both;
}

.col_box .col:first-child {
  padding-right: 30px;
}

.col_box .col:last-child {
  padding-left: 30px;
}

.col {
  float: left;
  width: 50%;
  font-size: 15px;
  line-height: 1.8;
  color: #606167;
}

.col:after {
  content: '';
  display: block;
  clear: both;
}

.col .btn_link_large {
  float: right;
  margin-top: 24px;
}

.text_section {
  line-height: 27px;
  letter-spacing: -0.2px;
}

.text_section + .text_section {
  margin-top: 27px;
}

.info_img_box {
  max-width: 880px;
  margin: 80px auto 136px;
}

.info_img_box img {
  width: 100%;
}

.connect_service_list {
  float: left;
  position: relative;
  width: 33.333%;
  padding: 0 30px;
}

.connect_service_list:first-child {
  padding-left: 0;
}

.connect_service_list:first-child:before {
  display: none;
}

.connect_service_list:before {
  content: '';
  position: absolute;
  left: 0;
  top: 33px;
  width: 1px;
  height: 65%;
  background-color: #efefef;
}

.connect_service_list h5 {
  margin: 30px 0 17px;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #212121;
  line-height: 1.6;
}

.connect_service_list .btn_link {
  font-family: "NanumSquare", sans-serif;
  color: #606167;
}

.connect_service_list .btn_link:nth-child(2) {
  margin-right: 20px;
}

.connect_service_list .btn_link.keep {
  white-space: nowrap;
}

.connect_service_list span {
  color: #606167;
}

.list_type {
  position: relative;
  float: left;
  padding: 0 30px;
  color: #212121;
  font-family: "NanumSquare-B";
  font-size: 15px;
  letter-spacing: -0.5px;
}

.list_type:first-child {
  width: 17%;
  padding-left: 0;
}

.list_type:nth-child(2) {
  width: 21%;
}

.list_type:nth-child(3) {
  width: 23%;
}

.list_type:nth-child(4) {
  width: 24.5%;
}

.list_type:last-child {
  width: 14.5%;
  padding-right: 0;
}

.list_type:not(:first-child):before {
  content: '';
  position: absolute;
  left: 0;
  top: 38px;
  bottom: 0;
  width: 1px;
  background-color: #efefef;
}

.list_type dt {
  display: block;
  margin: 37px 0 14px;
  line-height: 1.6;
}

.list_type dd {
  margin-bottom: 3px;
}

.list_type dd:last-of-type {
  margin-bottom: 0;
  color: #606167;
  font-family: NanumSquare;
  line-height: 1.7;
}

.underline:before, .underline:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline.bt_24:before, .underline.bt_24:after {
  bottom: 24px;
}

.underline.bt_20:before, .underline.bt_20:after {
  bottom: 20px;
}

.underline.bt_30:before, .underline.bt_30:after {
  bottom: 24px;
}

.underline:before {
  background-color: #333;
}

.underline:after {
  background-color: #00c73c;
}

.line_box {
  position: relative;
}

.line_box .input_text:hover + .underline:before, .line_box .text_box:hover + .underline:before, .line_box .btn_select:hover + .underline:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.line_box .input_text:focus + .underline:after, .line_box .text_box:focus + .underline:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.error_box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  text-align: center;
}

.error_box .icon_error {
  display: block;
  width: 95px;
  height: 77px;
  margin: 0 auto 36px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: 0 -875px;
}

.error_box .error_text {
  font-family: "NanumSquare-B", sans-serif;
  font-size: 18px;
  color: #212121;
  line-height: 1.6;
}

.investment .spot {
  position: relative;
}

.investment .content_container {
  margin-top: 80px;
}

.investment .content_container.detail {
  margin-top: 60px;
  margin-bottom: 90px;
}

.investment .content_box {
  position: relative;
  margin-top: 70px;
}

.investment .btn_area {
  margin-top: 55px;
}

.investment .btn_area.align_right {
  margin-top: 24px;
}

.investment .btn_area.align_right:after {
  content: '';
  display: block;
  clear: both;
}

.investment .btn_area.align_right .btn_link_large {
  float: right;
}

.investment .ir_register .btn_area {
  margin-top: 100px;
}

.investment .ir_register .subscript {
  position: absolute;
  right: 0;
  top: -12px;
  font-size: 15px;
  color: #606167;
}

.investment .ir_register .subscript p:before {
  top: 4px;
}

.investment .report_wrap {
  position: relative;
}

.investment .report_wrap .util_box {
  position: absolute;
  right: 0;
  top: 94px;
}

.investment .report_wrap .util_item a {
  padding-right: 0;
  padding-left: 25px;
}

.investment .report_wrap .util_item a:before {
  right: auto;
  left: 0;
}

.investment .report_wrap_title {
  border-bottom: 2px solid #333;
}

.table_title {
  font-size: 20px;
}

.unit {
  font-family: "NanumSquare", sans-serif;
  font-size: 14px;
  color: #333;
}

.text_right {
  text-align: right;
}

.total {
  font-size: 20px;
}

.investors_table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  line-height: 1.8;
}

.investors_table tbody tr:first-child td,
.investors_table tbody tr:first-child .body_hd {
  border-color: #333;
}

.investors_table th {
  padding: 14px 0;
  border-top: 2px solid #333;
  font-family: "NanumSquare-B", sans-serif;
  color: #333;
  text-align: left;
}

.investors_table th.text_right {
  text-align: right;
}

.investors_table td {
  padding: 14px 0;
  border-top: 1px solid #e8e8e8;
}

.investors_table .body_hd {
  border-top: 1px solid #e8e8e8;
  letter-spacing: -0.45px;
}

.investors_table tfoot td {
  border-top: 1px solid #333;
  font-family: "NanumSquare-B", sans-serif;
  color: #333;
}

.investors_table .unit {
  font-family: "NanumSquare-B", sans-serif;
  font-size: 11px;
}

.investors_table.bt0 th {
  border-top: 0;
}

.investors_table .util_box .util_item a {
  display: inline-block;
  padding-right: 0;
  padding-left: 25px;
}

.investors_table .util_box .util_item a:before {
  right: auto;
  left: 0;
  top: 4px;
}

.investors_table.mt20 {
  margin-top: 20px;
}

.investors_table .one_character {
  padding-right: 8px;
}

.investors_table.type2 .th_pl8, .investors_table.type2 .td_pl8 {
  padding-left: 8px;
}

.investors_table.type2 .name {
  font-family: "NanumSquare-B", sans-serif;
  color: #333;
}

.investors_table.type2 .name, .investors_table.type2 .position {
  vertical-align: top;
}

.investors_table.type2 tbody tr:last-child th,
.investors_table.type2 tbody tr:last-child td {
  border-bottom: 1px solid #e8e8e8;
}

.investors_table.type2 .title {
  display: block;
  color: #212121;
}

.investors_table.type2 .date {
  font-size: 14px;
}

.investors_table.type2 .bg_blue {
  background-color: #f8f9fa;
}


.investors_table.type2 .text_align_center{
  text-align: center;
}

.career_list {
  position: relative;
  padding-left: 8px;
}

.career_list:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 2px;
  margin-top: -2px;
  background-color: #00c73c;
}

.career_list strong {
  font-family: "NanumSquare-EB", sans-serif;
}

.content_box_left.quick {
  position: absolute;
  width: auto;
}

.content_box_left.quick.fixed {
  position: fixed;
  top: 150px;
}

.charter .content_box {
  position: relative;
}

.charter .content_box .content_box_left > li {
  margin-bottom: 21px;
}

.charter .content_box_right {
  margin-left: 23.5%;
}

.charter .btn_area {
  margin-top: 0;
}

.charter .subscript {
  margin-top: 0;
  margin-bottom: 12px;
}

.article {
  position: relative;
  padding: 30px 0 74px;
  border-top: 1px solid #e8e8e8;
}

.article:first-child {
  border-top: 2px solid #333;
}

.article .article_container {
  overflow: hidden;
}

.article.s1 .article_container {
  height: 480px;
}

.article.s2 .article_container {
  height: 495px;
}

.article.s3 .article_container {
  height: 425px;
}

.article.s4 .article_container {
  height: 475px;
}

.article.s5 .article_container {
  height: 545px;
}

.article.s6 .article_container {
  height: 475px;
}

.article.s7 {
  border-bottom: 1px solid #e8e8e8;
}

.article.s7 .article_container {
  height: 495px;
}

.article_list {
  margin-bottom: 23px;
}

.article_list:after {
  content: '';
  display: block;
  clear: both;
}

.article_list:last-child {
  margin-bottom: 7px;
}

.article_list.dual_writing {
  color: #999;
}

.article_list.dual_writing dt {
  color: #999;
}

.article_list dt, .article_list dd {
  line-height: 1.8;
}

.article_list dt {
  font-family: "NanumSquare-B", sans-serif;
  color: #333;
}

.detail_box {
  padding-left: 30px;
}

.detail_list:after {
  content: '';
  display: block;
  clear: both;
}

.detail_list .num {
  float: left;
  width: 22px;
  margin: 0 20px 0 0;
  text-align: right;
}

.detail_list .text {
  overflow: hidden;
}

.additional_list dt, .additional_list dd {
  line-height: 1.8;
}

.additional_list dt {
  font-family: "NanumSquare-B", sans-serif;
  color: #333;
}

.affiliate_box {
  position: absolute;
  right: 30px;
  top: 74px;
}

.affiliate_box .btn_affiliate {
  position: relative;
  padding-right: 26px;
}

.affiliate_box .btn_affiliate:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -222px -26px;
}

.btn_more.type2[aria-expanded="true"] ~ .article_container {
  height: auto;
}

.affiliate_list {
  display: none;
  position: absolute;
  left: -81px;
  bottom: 0;
  width: 200px;
  padding: 27px 0 25px;
  border: 1px solid #dfe0e1;
  background-color: #fff;
  text-align: left;
}

.affiliate_item {
  margin-top: 13px;
}

.affiliate_item:first-child {
  margin-top: 0;
}

.affiliate_item > a {
  display: block;
  width: 100%;
  padding: 0 24px;
  color: #878890;
}

.affiliate_item > a span {
  position: relative;
}

.affiliate_item > a span:before {
  display: none;
  content: '';
  position: absolute;
  right: -24px;
  top: -2px;
  width: 18px;
  height: 18px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -104px -68px;
}

.affiliate_item > a:hover, .affiliate_item > a:focus {
  color: #00b843;
}

.affiliate_item > a:hover span:before, .affiliate_item > a:focus span:before {
  display: block;
}

.btn_affiliate[aria-expanded="true"] ~ .affiliate_list {
  display: block;
}

.subscript {
  margin-top: 12px;
  font-family: "NanumSquare-L", sans-serif;
  font-size: 14px;
  color: #878890;
  text-align: right;
}

.subscript p {
  display: inline-block;
  position: relative;
  padding-left: 10px;
}

.subscript p:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 2px;
  height: 10px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -122px -45px;
}

.subscript p span:first-child {
  position: relative;
  padding-right: 20px;
}

.subscript p span:first-child:before {
  content: '';
  position: absolute;
  right: 9px;
  top: 3px;
  width: 1px;
  height: 10px;
  background-color: #dfe0e1;
}

.subscript.info {
  font-family: "NanumSquare", sans-serif;
}

.subscript.info:before {
  right: 191px;
}

.subscript.info a {
  color: #878890;
}

.subscript.info a:hover, .subscript.info a:focus {
  color: #00c73c;
  text-decoration: underline;
}

.subscript.pdf {
  font-family: "NanumSquare", sans-serif;
}

.util_wrap {
  position: absolute;
  right: 0;
  top: -30px;
}

.util_box:after {
  content: '';
  display: block;
  clear: both;
}

.util_box .util_item {
  float: left;
  margin-left: 26px;
}

.util_box .util_item:first-child {
  margin-left: 0;
}

.util_box .util_item a {
  position: relative;
  padding-right: 25px;
  font-family: "NanumSquare-B", sans-serif;
  color: #212121;
}

.util_box .util_item a:before {
  content: '';
  position: absolute;
  right: 0;
  top: -1px;
  width: 18px;
  height: 18px;
  /* background: url(../src/sprite.png) no-repeat; */
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
}

.util_box .util_item.link a:before {
  background-position: -59px 0;
}

.util_box .util_item.download a:before {
  background-position: -242px -26px;
}

.util_box .util_item a:hover, .util_box .util_item a:focus {
  text-decoration: underline;
}

.util_box .util_item.link a:hover:before, .util_box .util_item.link a:focus:before {
  background-position: -104px -68px;
}

.util_box .util_item.download a:hover:before, .util_box .util_item.download a:focus:before {
  background-position: -264px -26px;
}

.util_box .util_item.only_icon {
  float: none;
}

.util_box .util_item.only_icon a {
  width: 100%;
  height: 27px;
  padding-left: 0;
  vertical-align: middle;
}

.util_box.type2 .util_item a:first-child {
  margin-right: 16px;
}

.table_wrap.scroll {
  overflow: hidden;
  overflow-x: auto;
}

.table_wrap.scroll table {
  min-width: 76.5%;
}

.graph_container {
  margin-bottom: 60px;
  border-top: 2px solid #333;
}

.graph_container img {
  width: 100%;
}


.table.stock thead tr {
  border-top: 0;
  border-bottom: 1px solid #333;
}
.investment.quarter .content_container, .investment.year .content_container {
  margin-top: 20px;
}

.investment.quarter .content_container .content_box:first-child, .investment.year .content_container .content_box:first-child {
  margin-top: 40px;
}

.content_container.finances {
  position: relative;
}

.content_container.finances .unit {
  color: #878890;
}

.content_container.finances .br {
  border-right: 1px solid #e4e4e4;
}

.content_container.finances .investors_table tbody tr:first-child th {
  border-top: 1px solid #333;
}

.content_container.finances .investors_table tbody th {
  border-top: 0;
  border-bottom: 1px solid #e8e8e8;
  font-family: "NanumSquare", sans-serif;
  color: #606167;
}

.content_container.finances .investors_table tfoot th {
  border-top: 1px solid #333;
}

.content_container.finances .investors_table.table_total tbody tr:last-child th, .content_container.finances .investors_table.table_total tbody tr:last-child td {
  border-bottom: 1px solid #333;
}

.content_container.finances .line_box .select_box {
  margin: 0 auto;
}

.down_pdf {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  font-size: 14px;
  color: #333;
  text-decoration: underline;
}

.down_pdf:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -227px -129px;
}

.ir_guide {
  margin-bottom: 15px;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 20px;
  color: #333;
}

.ir_guide_container {
  padding: 30px 0;
  border-top: 2px solid #333;
  text-align: center;
}

.ir_guide_list {
  display: inline-block;
  position: relative;
  padding-right: 100px;
  padding-left: 68px;
  font-size: 15px;
  color: #333;
  text-align: left;
  line-height: 1.6;
}

.ir_guide_list:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 46px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
}

.ir_guide_list.calendar:before {
  background-position: -375px -877px;
}

.ir_guide_list.register:before {
  background-position: -426px -877px;
}

.ir_guide_list.company:before {
  widtH: 52px;
  background-position: -422px -926px;
}

.ir_guide_list.calendar:after, .ir_guide_list.register:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 17px;
  width: 21px;
  height: 13px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -120px -26px;
}

.ir_guide_list.company {
  padding-right: 0;
  padding-left: 70px;
}

.ir_guide_list .num {
  display: block;
  font-family: "NanumSquare-B", sans-serif;
}


.btn_add {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding-left: 34px;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 15px;
  color: #212121;
}

.btn_add:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  background: url(../src/sprite.png) no-repeat;
  -webkit-background-size: 474px 1500px;
  background-size: 474px 1500px;
  background-position: -246px -129px;
}

.latest_area {
  padding-top: 17px;
  border-top: 2px solid #333;
}

.latest_area:after {
  content: '';
  display: block;
  clear: both;
}

.latest_area .latest_title {
  float: left;
  margin-top: 9px;
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 20px;
  color: #00b843;
}

.latest_area .btn_area {
  float: right;
  margin-top: 0;
}

.latest_area .btn_link_large {
  margin-left: 14px;
}

.latest_area .btn_link_large:first-child, .latest_area .btn_link_large:first-child .btn_text {
  margin-left: 0;
}

.latest_area .btn_link_large .btn_text {
  font-size: 16px;
}

.faq_area {
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}

.faq_list {
  padding: 24px 0 23px;
  border-top: 1px solid #e8e8e8;
}

.faq_list:first-child {
  border-top: 0;
}

.faq_title {
  margin-bottom: 12px;
  font-family: "NanumSquare-B", sans-serif;
  font-size: 18px;
  color: #212121;
}

.faq_title:after {
  content: '';
  display: block;
  clear: both;
}

.faq_title .icon_q {
  float: left;
  margin: -3px 15px 0 0;
  font-size: 20px;
  color: #00c73c;
}

.faq_title p {
  overflow: hidden;
}

.faq_text {
  padding-left: 35px;
  line-height: 1.8;
}

.faq_text .text_line {
  word-break: normal;
}

.content_container.settlement .line_box .select_box {
  margin: 0 auto;
}

.content_container.settlement .unit {
  color: #878890;
}

.content_container.settlement .investors_table tbody tr:first-child th {
  border-top: 1px solid #333;
}

.content_container.settlement .investors_table tbody th {
  border-top: 0;
  border-bottom: 1px solid #e8e8e8;
  font-family: "NanumSquare", sans-serif;
  color: #606167;
}

.content_container.settlement .investors_table .dark {
  color: #333;
}

.investors_table.type2.half .col2, .investors_table.type2.half .col4 {
  text-align: right;
}

.investors_table.type2.half .col2 {
  padding-right: 30px;
  border-right: 1px solid #e8e8e8;
}

.investors_table.type2.half .col3 {
  border-left: 1px solid #e8e8e8;
}

.investors_table.type2.half .total, .investors_table.type2.half .total_num {
  color: #333;
}

.investors_table.type2.half .total {
  font-size: 20px;
}

.investors_table.type2.half .total_num {
  font-family: "NanumSquare-B", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.investors_table.type2.half .th_title {
  border-bottom: 1px solid #333;
  font-family: "NanumSquare-B", sans-serif;
  color: #333;
}

.investors_table.type2.half .bt0 {
  border-top: 0;
}

.investors_table.type2.half .bb0 {
  border-bottom: 0;
}

.investors_table.type2.half .bb1 {
  border-bottom: 1px solid #333;
}

.table_notice {
  padding: 10px 0 25px;
}

.table_notice .notice_text {
  font-family: "NanumSquare", sans-serif;
  font-size: 14px;
  color: #878890;
  text-align: left;
}

.table_notice .notice_text strong {
  display: block;
  font-family: "NanumSquare", sans-serif;
  color: #333;
}

.table_notice p {
  font-family: "NanumSquare-L", sans-serif;
  text-align: right;
  line-height: 1.6;
}

.table_notice p strong {
  font-family: "NanumSquare-B", sans-serif;
}

.table_notice .date {
  display: block;
  margin-top: 14px;
}

.table_notice.type2 {
  padding-bottom: 0;
  border-top: 1px solid #333;
}


.content_container.policy {
  max-width: 1000px;
  margin-top: 0;
}


.contents_group {
  float: left;
  width: 33.333%;
}

.contents_list {
  margin-top: 10px;
  font-family: "NanumSquare-B", sans-serif;
}

.contents_list:first-child {
  margin-top: 0;
}

.contents_list .list {
  color: #212121;
}

.contents_list .list:hover, .contents_list .list:focus {
  text-decoration: underline;
}

.list_box {
  padding-top: 38px;
  padding-bottom: 33px;
  border-bottom: 1px solid #dce0e6;
}

.list_box:first-child {
  padding-top: 28px;
}

.list_box h4 {
  font-family: "NanumSquare-EB", sans-serif;
  font-size: 15px;
  color: #212121;
}

.list_box p {
  margin-top: 21px;
  font-size: 15px;
  color: #606167;
  line-height: 1.7;
}

.list_box .policy_link {
  color: #606167;
}

.list_box .policy_link:hover, .list_box .policy_link:focus {
  text-decoration: underline;
}

.list_box .depth {
  padding-left: 60px;
}

.list_box .depth strong {
  display: block;
  color: #212121;
}


.table_depth {
  width: 100%;
  margin-bottom: 10px;
}

.table_depth th, .table_depth td {
  padding-bottom: 20px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
}

.table_depth th:first-child, .table_depth td:first-child {
  padding-left: 20px;
  border-left: 1px solid #d3d3d3;
}

.table_depth th:nth-child(2), .table_depth td:nth-child(2) {
  padding-left: 20px;
}

.table_depth th {
  color: #3c3c3c;
}

.table_depth td {
  padding: 20px 0;
  color: #878890;
}

.table_wrap .pagination{
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.table_wrap .pagination a{
  display: inline-block;
}
.table_wrap .pagination .prev_page, .next_page{
  margin : 0px 20px;
  /* background-color: red; */
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}

.footer_wrap {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 74px 0 70px;
  text-align: center;
}

.footer_wrap:after {
  content: '';
  display: block;
  clear: both;
}

.footer_wrap .footer_copy {
  margin: 0 auto;
  width: 337px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  /* background: url(../src/footer_copy.png) no-repeat; */
  overflow: hidden;
}

.footer_wrap .footer_logo {
  position: absolute;
  left: 30px;
  top: 76px;
  width: 63px;
  height: 13px;
  margin: 0 auto;
  /* background: url(../src/footer_logo.png) no-repeat; */
  -webkit-background-size: 63px 13px;
  background-size: 63px 13px;
}

.footer_menu {
  position: absolute;
  left: 105px;
  top: 74px;
  font-size: 0;
}

.footer_menu > li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  font-size: 14px;
}

.footer_menu > li:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: #dfe0e1;
}

.footer_menu > li:first-child:before {
  display: none;
}

.footer_menu .footer_menu_item {
  color: #878890;
}



@media only screen and (max-width: 1600px) {
  .summary_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .summary_container .break {
    display: none;
  }
  .channel_container.icon, .promotion .content_container.tv {
    max-width: 100%;
    padding: 0 160px;
  }
  .channel_container.icon {
    padding-top: 38px;
    padding-bottom: 55px;
  }
  .pop.v3 .pop_slide_info h3 {
    max-width: 500px;
  }
  .spot_container {
    max-width: 100%;
    padding: 0 160px;
  }
  .spot_container .spot_logo {
    left: 160px;
  }
  .spot_container .project_container {
    right: 160px;
  }
  .spot_slide .btn_prev {
    right: 226px;
  }
  .spot_slide .btn_next {
    right: 160px;
  }
  .slide_info .slide_info_text {
    padding-right: 312px;
  }
  .content_container.library .content_box_left {
    word-break: keep-all;
  }
}

@media only screen and (max-width: 1440px) {
  .summary_stock .stock_info_box .price {
    font-size: 28px;
  }
  .summary_stock .stock_info_box .figure {
    margin-top: 15px;
  }
  .service .util_list.login, .service .util_list.deview {
    clear: both;
  }
  .service .util_list.login.clear {
    clear: none;
  }
  .report_list:nth-child(3n) {
    margin-right: 0;
  }
  .pop.v3 .pop_slide_info h3 {
    max-width: 395px;
  }
  .text_line {
    display: inline;
  }
  .value .content_container.privacy .content_box_right.type2 .content_box_text,
  .value .content_container.accreditation .content_box_right.type2 .content_box_text {
    display: inline;
  }
}

@media only screen and (max-width: 1438px) {
  .service_item_line {
    display: none;
  }
}

@media only screen and (max-width: 1372px) {
  .underline.bt_30:before, .underline.bt_30:after {
    bottom: 44px;
  }
}

@media only screen and (max-width: 1280px) {
  .value .content_container.flower .info_img_box {
    width: 100%;
  }
  .value .content_container.flower .info_img_box img {
    width: 100%;
  }
  .file_box .guide_message {
    white-space: normal;
  }
  .service .util_list.talk {
    clear: both;
  }
  .pop.v3 .pop_slide_info h3 {
    max-width: 320px;
  }
  .break {
    display: none;
  }
}

@media only screen and (max-width: 1186px) {
  .table_br {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .footer_wrap .footer_copy {
    margin-left: 423px;
  }
}

@media only screen and (max-height: 930px) {
  .header_up {
    top: -280px;
  }
}

@media only screen and (max-height: 800px) {
  .header_up {
    top: -380px;
  }
}

/*# sourceMappingURL=maps/navercorp.css.map *