*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app{
	text-align: center;
}
.container{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-flow: row nowrap;
	margin:  2rem auto;
	width: 90%;
	height: 100%;
	/* background-color: red; */
}
/* .canvas{
	flex: 1 1 80%;
	background-color: aqua;
} */

/* .list{
	flex: 1 1 20%;
	
} */