 
#main{
    width: 80%;
    background-color: #fff;
    text-align: center;
}

p{
    font-size: 20px;
}

.start{
    color: #fff;
}
#qna{
    display: none;
}
.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 20px ;
    width: 80%;
}
.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 80%;
    display: block;
    border: 0px;
}

.answerList:hover, .answerList:focus{
    opacity: 0.9;
    /* background-color: rgba(0,255,255,0.8);
    color: #fff; */
}
.status{
    width: 80%;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.statusBar{
    /* width: 100%; */
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    background-image: 
        radial-gradient(at top left, #12c1dc, transparent),
        radial-gradient(at top right, #dadddc, transparent),
        radial-gradient(at bottom right, #12c1dc, transparent);
}

#result{
    display: none;
    width: 80%;
    background-color: #fff;
    text-align: center;
}

.resultName{
    font-size: 20px;
}

.resultDesc{
    font-size: 20px;
}

.kakao{
    border: none;
    color: #fff;
    background-color: #fee500;
    border-radius: 10px;
}

.kakao:hover, .kakao:focus{
    opacity: 0.9;
    color: #000;
    /* background-color: rgba(0,255,255,0.8);
    color: #fff; */
}