			@font-face {
				font-family: 'kopub';
				font-style: normal;
				src: url('190829020624kopub.eot');
				src: local('kopub'), url('190829020624kopub.eot') format('embedded-opentype'), url('190829020624kopub.woff') format('woff');
			}
            
            .kopub{font-family: 'kopub' !important;}
            
						p, blockquote, li, a{
					font-family: 'kopub' !important;
				}
		